*{
    margin: 0;
    padding: 0;
   
}
body{
    font-family:'Rubik', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
.body{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
    height: 800px;
    width: 1440;
    background-color: hsl(270, 20%, 96%);
    z-index: 1;
    
    
}

.phone{
    margin: auto;
    width: 50%;
    height: 500px;
    width: 245px;
    border: 10px solid #fff;
    background-color:hsl(270, 20%, 96%);
    border-radius: 20px;
    margin-left: 220px;
    
}
.bg-desing{
    position: absolute;
    background:linear-gradient(180deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%)) !important;
    inset: 0px 1145px 150px -250px;
    border-bottom-left-radius: 450px;
    border-bottom-right-radius:350px;
    z-index:-1;
}
.phone .div-1{
    display: flex;
    justify-items: center;
    height: 70px;
    width: 100%;
    background: linear-gradient(220deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    margin-bottom: 5px;
    
}
.phone .div-1 h3{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
    margin-left: 10px;
}
.cb{
    width: 110px;
    background-color: #fff;
    border-radius: 5px;
    
}
.phone .div-1 p{
    color: #fff;
    margin-left: 10px;
    font-size: 12px;
}
.icon{
    color: #fff;
    margin-top: 30px;
    padding: 5px;
   
}
.icon-2{
    color: #fff;
    margin-top: 25px;
    padding: 5px;
    margin-left:50px;
}
.p-1{
    width: 160px;
    border: 1px solid #fff;
    background-color:  hsl(265, 60%, 92%);
    color: hsl(293, 100%, 63%);
    padding: 5px 0px 5px 5px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom:5px;
    margin-left: 0px;
}
.p-2{
    width: 160px;
    border: 1px solid #fff;
    background-color:  hsl(265, 60%, 92%);
    color: hsl(293, 100%, 63%);
    padding: 5px 0px 5px 5px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.img-container img{
        width: 40px;
        border-radius: 20%;
        display: block;
        float:right;
        margin-right: 5px;
        margin-bottom: 5px;
}
.img-container{
    width: 100%;
}
.p-3{
    width: 140px;
    border: 1px solid #fff;
    background-color:  #fff;
    color: black;
    padding: 5px 0px 5px 15px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 8px;
    float: left;
    margin-left: 90px;
    margin-bottom: 5px;

}
.p-4{
    display: inline-block;
    width: 160px;
    border: 1px solid #fff;
    background-color:  hsl(265, 60%, 92%);
    color: hsl(293, 100%, 63%);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

.phone .img-1{
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 20px;
    
}
.text{
    width: 50%;
    margin: auto;
    justify-content: center;
    justify-items: center;
}
.input-1{
    padding:10px ;
    width: 170px;
    background: linear-gradient(30deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    margin-bottom: 5px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 13px;
    margin-left: 0;
}
.input-2{
    margin-left: 0;
    padding:10px ;
    width: 170px;
    background: linear-gradient(30deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 13px;
    margin-bottom:2px;
}
span{
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
}
.span{
    color: #fff;
    margin-left: 45px;
    font-size: 18px;
}
.input-3{
    padding:1px;
    display: flex;
    
}
.input-3 input{
    padding: 5px 10px 5px 2px;
    width: 210px;
    color: hsl(206, 6%, 79%);
    border-radius: 15px;
    background-color: #fff;
    
}
.icon-3{
  
    margin-bottom: 20px;
    display: inline-block;
}
.icon-4{
    position: relative;
}
.icon-5{
    position: absolute;
    margin-right: 10px;
    background-color: hsl(264, 100%, 61%);
    color: #fff;
    padding: 5px 9px;
    border-radius: 25px;
    margin-left: 205px;
    
}
.text h1{
    font-weight: 500;
    padding: 0px 0px 20px 0px;
    color: hsl(276, 88%, 19%);
}
.text p{
    padding: 0px 280px 0px 0px;
    color:  hsl(270, 7%, 64%);
    font-size: 16px;
    line-height: 24px;
}
.text{
    position: relative;
}
.back-footer{
    position: absolute;
    background:hsla(293, 62%, 85%, 0.13) ;
    inset: -200px -80px -320px 400px;
    border-top-left-radius: 60%;
}
